include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		.main-wrap
			include ../common/header
			include ../common/offer
			include ../common/why
			
			include ../common/footer
	// END body