header
	nav
		.wrap
			.nav
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three
					nav.main-menu 
						ul
							li
								a(href="#") наши предложения
							li
								a(href="#") отзывы
							li
								a(href="#") контакты
				.contact
					a(href="tel:+79111111111").contact__phone +7 911 111 11 11
					a(href="tel:+89111111111").contact__phone +8 800 876 54 32 
					a(href="mailto:info@microzelen.ru").contact__mail info@microzelen.ru


	.header
		.wrap
			h1.main-title Микрозелень
			.subtitle Доставим  в любую часть города и области
			.btn Заказать
			
