section.offer
    .wrap
        .title Мы предлагаем:
        .offer__items
            .offer__item--wrap
                .offer__item
                    img(src="img/offer1.jpg", alt="offer")
                    
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
                    .offer__name Ростки пшеницы
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
            .offer__item--wrap.offer__item--text
                .offer__item
                    .offer__date 05.02.2019
                    .offer__text
                        p  	Небольшой интересный факт о микрозелени или спецпредложение. 
                        p В этом блоке необходим особенный текст
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")
            .offer__item--wrap
                .offer__item
                    img(src="img/offer2.jpg", alt="offer")