section.reviews#reviews
	.wrap
		h2.title.title--center Отзывы о нас
		.reviews-slider
			.review-item
				.review-body 
					.review-title Отзыв 1
					.review-text 	
						p 11Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Гt perspiciatis unde ont ut labore et dolore magnam aliquam quaerat volu.
			.review-item
				.review-body 
					.review-title Отзыв 2
					.review-text 	
						p 222Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostdolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Гt perspiciatis unde ont ut labore et dolore magnam aliquam quaerat volu.
			.review-item
				.review-body 
					.review-title Отзыв 3
					.review-text 	
						p 3Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Гt perspiciatis unde ont ut labore et dolore magnam aliquam quaerat volu
			.review-item
				.review-body 
					.review-title Отзыв 4
					.review-text 	
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Гt perspiciatis unde ont ut labore et dolore magnam aliquam quaerat volu
			.review-item
				.review-body 
					.review-title Отзыв 5
					.review-text 	
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Гt perspiciatis unde ont ut labore et dolore magnam aliquam quaerat volu
			.review-item
				.review-body 
					.review-title Отзыв 6
					.review-text 	
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						p Гt perspiciatis unde ont ut labore et dolore magnam aliquam quaerat volu
		.reviews-nav
			.review-nav-item
				.review-nav-logo
					.review-logo-wrap
						img(src="img/reviews/user1.png")
					p Клиент 1
			.review-nav-item
				.review-nav-logo
					.review-logo-wrap
						img(src="img/reviews/user2.png")
					p Клиент 2
			.review-nav-item
				.review-nav-logo
					.review-logo-wrap
						img(src="img/reviews/user1.png")
					p Клиент 3
			.review-nav-item
				.review-nav-logo
					.review-logo-wrap
						img(src="img/reviews/user2.png")
					p Клиент 4
			.review-nav-item
				.review-nav-logo
					.review-logo-wrap
						img(src="img/reviews/user1.png")
					p Клиент 5
			.review-nav-item
				.review-nav-logo
					.review-logo-wrap
						img(src="img/reviews/user2.png")
					p Клиент 6


